In [1]:
import pandas as pd 
from functools import reduce

import pymongo
import json


## Initialisation de la connection à la base de données

In [2]:
password = "test"
client = pymongo.MongoClient("mongodb+srv://covid-dev:"+password+"@covid19-hackathon-5igpz.mongodb.net/test?retryWrites=true&w=majority")
db = client['test']
collection = db['covid_data']

# LOT 1: Données des hopitaux

## FICHIER DONNEE HOSPITALIERE SUR LE COVID-19 PAR DEPARTEMENT

In [3]:
def set_record_type(value):
    if value == 0:
        return "Total"
    elif value == 1:
        return "Homme"
    elif value == 2:
        return "Femme"
    else:
        return None

In [4]:
url = 'https://www.data.gouv.fr/fr/datasets/r/63352e38-d353-4b54-bfd1-f1b3ee1cabd7'
hosp_data_df = pd.read_csv(url, delimiter=';', header=0, encoding="utf-8", names=['departement','type', 'date', 'nombre_hospitalisation', 'nombre_reanimation', 'nombre_renvoi_domicile', 'nombre_deces'])

In [5]:
hosp_data_df.head(6)

,departement,type,date,nombre_hospitalisation,nombre_reanimation,nombre_renvoi_domicile,nombre_deces
0,01,0,2020-03-18,2,0,1,0
1,01,1,2020-03-18,1,0,1,0
2,01,2,2020-03-18,1,0,0,0
3,02,0,2020-03-18,41,10,18,11
4,02,1,2020-03-18,19,4,11,6
5,02,2,2020-03-18,22,6,7,5

## FICHIER DONNEE ETABLISSEMENT SUR LE COVID-19 PAR DEPARTEMENT

In [6]:
url = "https://www.data.gouv.fr/fr/datasets/r/41b9bd2a-b5b6-4271-8878-e45a8902ef00"
# Contient le nombre d'établissements par jour s'occupant de patient atteint du COVID 19 par Département
hosp_data_etab_df = pd.read_csv(url, delimiter=';', names=['departement', 'date', 'nombre_etablissement'], encoding="utf-8", header=0)

In [7]:
hosp_data_etab_df.head()

  departement        date  nombre_etablissement
0          01  2020-03-18                     1
1          02  2020-03-18                     4
2          03  2020-03-18                     2
3          04  2020-03-18                     2
4          05  2020-03-18                     2

In [8]:
hosp_data_etab_df['departement'] = hosp_data_etab_df['departement'].astype(str)
hosp_data_etab_df['nombre_etablissement'] = hosp_data_etab_df['nombre_etablissement'].astype(int)

## FUSION DES DATAS DU LOT 1

In [9]:
hosp_df = pd.merge(hosp_data_df, hosp_data_etab_df, on=['departement', 'date'], how='left')

In [10]:
print(len(hosp_df))
hosp_df.head(5)

3336

,departement,type,date,nombre_hospitalisation,nombre_reanimation,nombre_renvoi_domicile,nombre_deces,nombre_etablissement
0,01,0,2020-03-18,2,0,1,0,1.0
1,01,1,2020-03-18,1,0,1,0,1.0
2,01,2,2020-03-18,1,0,0,0,1.0
3,02,0,2020-03-18,41,10,18,11,4.0
4,02,1,2020-03-18,19,4,11,6,4.0

## On change le format des données

In [11]:
tot_df = hosp_df[hosp_df['type'] == 0].rename(columns={"nombre_hospitalisation": "nombre_hospitalisation_total", "nombre_reanimation": "nombre_reanimation_total", "nombre_renvoi_domicile": "nombre_renvoi_domicile_total", "nombre_deces": "nombre_deces_total"})
h_df = hosp_df[hosp_df['type'] == 1].rename(columns={"nombre_hospitalisation": "nombre_hospitalisation_h", "nombre_reanimation": "nombre_reanimation_h", "nombre_renvoi_domicile": "nombre_renvoi_domicile_h", "nombre_deces": "nombre_deces_h"})
f_df = hosp_df[hosp_df['type'] == 2].rename(columns={"nombre_hospitalisation": "nombre_hospitalisation_f", "nombre_reanimation": "nombre_reanimation_f", "nombre_renvoi_domicile": "nombre_renvoi_domicile_f", "nombre_deces": "nombre_deces_f"})
dfs = [tot_df, h_df, f_df]

df_final = reduce(lambda left, right: pd.merge(left,right,on=['departement', 'date', 'nombre_etablissement'], how='left'), dfs)    
df_final = df_final.drop(['type_x', 'type_y', 'type'], axis=1)

if len(df_final) != len(hosp_df)/3:
    print("Reduce Error")
if len(hosp_df) % 3 != 0:
    print("Data Error")

In [12]:
print(len(df_final))
df_final.head()

1112

,departement,date,nombre_hospitalisation_total,nombre_reanimation_total,nombre_renvoi_domicile_total,nombre_deces_total,nombre_etablissement,nombre_hospitalisation_h,nombre_reanimation_h,nombre_renvoi_domicile_h,nombre_deces_h,nombre_hospitalisation_f,nombre_reanimation_f,nombre_renvoi_domicile_f,nombre_deces_f
0,01,2020-03-18,2,0,1,0,1.0,1,0,1,0,1,0,0,0
1,02,2020-03-18,41,10,18,11,4.0,19,4,11,6,22,6,7,5
2,03,2020-03-18,4,0,1,0,2.0,1,0,0,0,3,0,1,0
3,04,2020-03-18,3,1,2,0,2.0,3,1,0,0,0,0,2,0
4,05,2020-03-18,8,1,9,0,2.0,1,0,7,0,7,1,2,0

# LOT 2: Données des urgences et SOS medecins

## FICHIER DONNEE HOPITAUX PAR DEPARTEMENT

In [13]:
url = "https://www.data.gouv.fr/fr/datasets/r/eceb9fb4-3ebc-4da3-828d-f5939712600a"
sursaud_data1_df = pd.read_csv(url, delimiter=',', header=0, encoding="utf-8", names=['departement','date', 'tranche_age', 'nombre_passage_urgence_covid', 'nombre_passage_urgence_total', 'nombre_hospitalisation_passage_urgence_covid', 'nombre_passage_urgence_covid_h', 'nombre_passage_urgence_covid_f', 'nombre_passage_urgence_total_h', 'nombre_passage_urgence_total_f', 'nombre_hospitalisation_covid_h', 'nombre_hospitalisation_covid_f', 'nombre_acte_medical_covid', 'nombre_acte_medical_total', 'nombre_acte_medical_covid_h', 'nombre_acte_medical_covid_f', 'nombre_acte_medical_total_h', 'nombre_acte_medical_total_f'])
sursaud_data1_df = sursaud_data1_df[sursaud_data1_df['tranche_age'] == "0"]

In [14]:
sursaud_data1_df.head()

,departement,date,tranche_age,nombre_passage_urgence_covid,nombre_passage_urgence_total,nombre_hospitalisation_passage_urgence_covid,nombre_passage_urgence_covid_h,nombre_passage_urgence_covid_f,nombre_passage_urgence_total_h,nombre_passage_urgence_total_f,nombre_hospitalisation_covid_h,nombre_hospitalisation_covid_f,nombre_acte_medical_covid,nombre_acte_medical_total,nombre_acte_medical_covid_h,nombre_acte_medical_covid_f,nombre_acte_medical_total_h,nombre_acte_medical_total_f
0,01,2020-02-24,0,0.0,357.0,0.0,0.0,0.0,202.0,155.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,02,2020-02-24,0,0.0,458.0,0.0,0.0,0.0,246.0,212.0,0.0,0.0,0.0,382.0,0.0,0.0,174.0,208.0
12,03,2020-02-24,0,0.0,223.0,0.0,0.0,0.0,108.0,115.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,04,2020-02-24,0,0.0,196.0,0.0,0.0,0.0,102.0,94.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
24,05,2020-02-24,0,0.0,231.0,0.0,0.0,0.0,129.0,102.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

## Fusion des datasets des lots 1 et 2

In [15]:
hosp_final_df = pd.merge(sursaud_data1_df, df_final, on=['departement', 'date'], how='left')
hosp_final_df.head()

,departement,date,tranche_age,nombre_passage_urgence_covid,nombre_passage_urgence_total,nombre_hospitalisation_passage_urgence_covid,nombre_passage_urgence_covid_h,nombre_passage_urgence_covid_f,nombre_passage_urgence_total_h,nombre_passage_urgence_total_f,...,nombre_deces_total,nombre_etablissement,nombre_hospitalisation_h,nombre_reanimation_h,nombre_renvoi_domicile_h,nombre_deces_h,nombre_hospitalisation_f,nombre_reanimation_f,nombre_renvoi_domicile_f,nombre_deces_f
0,01,2020-02-24,0,0.0,357.0,0.0,0.0,0.0,202.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02,2020-02-24,0,0.0,458.0,0.0,0.0,0.0,246.0,212.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03,2020-02-24,0,0.0,223.0,0.0,0.0,0.0,108.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04,2020-02-24,0,0.0,196.0,0.0,0.0,0.0,102.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05,2020-02-24,0,0.0,231.0,0.0,0.0,0.0,129.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Population par département (fusion avec le dataset principal)
## Insee, Recensement de 2017

Nous prenons la **population totale** (population municipale + population comptée à part)
[https://www.insee.fr/fr/statistiques/4265429?sommaire=4265511](Source Insee 2017)

In [28]:
url = "https://www.insee.fr/fr/statistiques/fichier/4265429/ensemble.xls"
pop_df = pd.read_excel(url, sheet_name='Départements', header=7)

In [29]:
pop_df.head()

,Code région,Nom de la région,Code département,Nom du département,Nombre d'arrondissements,Nombre de cantons,Nombre de communes,Population municipale,Population totale
0,84,Auvergne-Rhône-Alpes,01,Ain,4,23.0,393,643350,659180
1,32,Hauts-de-France,02,Aisne,5,21.0,800,534490,546527
2,84,Auvergne-Rhône-Alpes,03,Allier,3,19.0,317,337988,347035
3,93,Provence-Alpes-Côte d'Azur,04,Alpes-de-Haute-Provence,4,15.0,198,163915,168381
4,93,Provence-Alpes-Côte d'Azur,05,Hautes-Alpes,2,15.0,162,141284,145883

In [30]:
hosp_final_df = pd.merge(hosp_final_df, pop_df[['Code département', 'Population totale']], left_on='departement', right_on='Code département', how='outer')
hosp_final_df = hosp_final_df.drop('Code département', axis=1)

In [31]:
print(len(hosp_final_df))
hosp_final_df.head()

3333

,departement,date,tranche_age,nombre_passage_urgence_covid,nombre_passage_urgence_total,nombre_hospitalisation_passage_urgence_covid,nombre_passage_urgence_covid_h,nombre_passage_urgence_covid_f,nombre_passage_urgence_total_h,nombre_passage_urgence_total_f,...,nombre_hospitalisation_h,nombre_reanimation_h,nombre_renvoi_domicile_h,nombre_deces_h,nombre_hospitalisation_f,nombre_reanimation_f,nombre_renvoi_domicile_f,nombre_deces_f,Population totale_x,Population totale_y
0,01,2020-02-24,0,0.0,357.0,0.0,0.0,0.0,202.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659180.0,659180.0
1,01,2020-02-25,0,0.0,310.0,0.0,0.0,0.0,177.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659180.0,659180.0
2,01,2020-02-26,0,0.0,366.0,0.0,0.0,0.0,193.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659180.0,659180.0
3,01,2020-02-27,0,0.0,321.0,0.0,0.0,0.0,178.0,143.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659180.0,659180.0
4,01,2020-02-28,0,0.0,339.0,0.0,0.0,0.0,166.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659180.0,659180.0

## Insertion dans la base MongoDB

In [32]:
collection.delete_many({})

In [33]:
hosp_final_json = json.loads(hosp_final_df.to_json(orient="records"), encoding="utf-8")
collection.insert_many(hosp_final_json)
print(len(hosp_final_json), "enregistrements ajoutés avec succès à la base mongoDB")

3333 enregistrements ajoutés avec succès à la base mongoDB

In [34]:
with open("dataset-covid-final.json", 'w+', encoding="utf-8") as file:
    file.write(hosp_final_df.to_json(orient="records"))
hosp_final_df.to_excel("dataset-covid-final.xlsx", encoding="utf-8")